@import (reference) "../../styles/styles.less";

main .section.blog-hero-container .default-content-wrapper {
  text-align: center;
}
.blog-content.block {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 2rem;

  p {
    line-height: 1.7;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }

  ul {
    padding-left: 20px;
    margin-bottom: 1.5rem;

    li {
      margin-bottom: 0.75rem;
      line-height: 1.6;
    }
  }

  > :first-child {
    margin-top: 0;
  }
}
