.product__price {
  font-weight: 500;color: #f5f5f7;
}
main .section.product-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
  background-color: #ffffff;
}
#products {
  padding-top: 40px;
  font-size: 2.5rem;
}
section[aria-label='Featured products'] {
  background-color: white;
  width: 100%;
  padding: 2rem 0;
}
.product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 1rem auto;
  padding: 0 1rem;
  background-color: white;
}
.product__card {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border: none;
  border-radius: 4px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  font-family: var(--font-geist), sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product__card:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.1);
}
.product__image-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
.product__details {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 12px;
  flex-grow: 1;
}
.product__title {
  font-size: 1.5rem;
}
.product__price {
  color: #000000;
}
.product__button {
  background: #fafafa;
  color: #000000;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.3s;
  border-radius: 2px;
  margin-top: auto;
}
.product__button:hover {
  cursor: pointer;
  background: #ccc;
  transform: translateZ(2px);
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.2);
}
