@import (reference) '../styles/styles.less';

.press-release {
  max-width: 960px;
  margin: @space-12 auto;
  padding: 0 @space-4;

  &__item {
    display: grid;
    grid-template-columns: 3fr 4fr 1fr;
    gap: @space-8;
    align-items: center;
    padding: @space-6 0;
    border-bottom: 1px solid @background-black;
  }

  &__button {
    .button();
    border: @button-br solid @background-black;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  .press-release__item {
    grid-template-columns: 1fr;
    gap: @space-2;
    padding: @space-6 0;
  }

  .press-release__button {
    justify-self: start;
  }
}
