.press-release {
  max-width: 960px;
  margin: 3rem auto;
  padding: 0 1rem;
}
.press-release__item {
  display: grid;
  grid-template-columns: 3fr 4fr 1fr;
  gap: 2rem;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid #000000;
}
.press-release__button {
  background: #fafafa;
  color: #000000;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.3s;
  border-radius: 2px;
  border: 2px solid #000000;
}
.press-release__button:hover {
  cursor: pointer;
  background: #ccc;
  transform: translateZ(2px);
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.2);
}
.press-release__button:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .press-release__item {
    grid-template-columns: 1fr;
    gap: 0.5rem;
    padding: 1.5rem 0;
  }
  .press-release__button {
    justify-self: start;
  }
}
