@import (reference) "../styles/styles.less";
/* Main block container */
.press-release.block {
  max-width: 960px;
  margin: @space-12 auto;
  padding: 0 @space-4;
}

.press-release-item {
  display: grid;
  grid-template-columns: 3fr 4fr 1fr;
  gap: @space-8;
  align-items: center;
  padding: @space-6 0;
  border-bottom: 1px solid @background-black;
}

/* The title of the press release */
.press-release-button {
  .button();
  border: @button-br solid @background-black;
}

.press-release-button:hover {
  text-decoration: underline;
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
  .press-release-item {
    grid-template-columns: 1fr;
    gap: @space-2;
    padding: @space-6 0;
  }

  .press-release-button {
    justify-self: start;
  }
}
