@import url('../styles/styles.less');

#articles {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.article {
  &__item {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3rem;
  }

  &__image {
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
      width: auto;
      height: 300px;
      object-fit: cover;
      border-radius: @button-br;
      border: 1px solid #ddd;
    }
  }

  &__content {
    h1,
    h2 {
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: @text-3xl;
    }

    p,
    ul {
      margin-bottom: 1rem;
      line-height: 1.6;
    }
  }
}

@media (width <= 768px) {
  .article__item {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
  }

  .article__image img {
    height: 200px;
  }
}
