@import "../../styles/styles.less";
// Keyframes for the animation
@keyframes slide-left {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

// Main style for the highlight block
.highlight.block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: rgb(185 185 185 / 78.4%);
  color: @text-primary;
  overflow: hidden;
  height: 20px;
  display: flex;
  align-items: center;
}

.highlight-slides-container,
.scrolling-wrapper {
  height: 100%; // Ensure containers fill the 20px height
}

.scrolling-wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
  animation: slide-left 25s linear infinite;
}

.highlight-slide {
  white-space: nowrap;
  padding: 0 4rem;
  display: flex;
  align-items: center;

  > div {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
  }

  h2,
  p {
    margin: 0;
    font-size: 12px;
    line-height: 1;
  }

  h2 {
    font-weight: 700;
  }

  // Separator
  &::after {
    content: "•";
    margin-left: 100px;
  }
}
