@keyframes slide-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
.highlight-slides-container,
.scrolling-wrapper {
  box-sizing: border-box;
  height: 100%;
  background-color: lightgrey;
  overflow: hidden;
}
.scrolling-wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
  animation: slide-left 25s linear infinite;
}
.highlight-slide {
  white-space: nowrap;
  padding: 0 4rem;
  display: flex;
  align-items: center;
}
.highlight-slide > div {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}
.highlight-slide h2,
.highlight-slide p {
  margin: 0;
  font-size: 12px;
  line-height: 1;
}
.highlight-slide h2 {
  font-weight: 700;
}
.highlight-slide::after {
  content: "•";
  margin-left: 100px;
}
